{% extends "base.html" %}

{% block content %}


<div class="statBox">

    <div class="stat">
        <p>Total Applications: {{ total_applications or 0}}</p>
    </div>

    <div class="stat">
        <p>Applied: {{ status_counts['Applied'] }}</p>
    </div>

    <div class="stat">
        <p>Interviewing: {{ status_counts['Interviewing'] or 0 }}</p>
    </div>

    <div class="stat">
        <p>Rejected: {{ status_counts['Rejected'] or 0}}</p>
    </div>


</div>

<!-- Add Job Form -->
<div>
    <wrapper>
        <dialog id="addjob">
            <div class="formHeader">
                <h1>Add Application</h1>
                <button id="delete-button" type="button" onclick="deleteJob()" class="delete-button" style="display: none;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                        <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5"/>
                      </svg>
                </button>
            </div>

            <form method="POST" action="{{ url_for('main.add_or_edit_job') }}">
                <div>
                    <label for="company_name" class="label">Company Name</label>
                    <input type="text" id="company_name" name="company_name" required>
                </div>
                <div>
                    <label for="job_title">Job Title</label>
                    <input type="text" id="job_title" name="job_title" required>
                </div>
                <div>
                    <label for="application_date">Application Date</label>
                    <input type="date" id="application_date" name="application_date" required>
                </div>

                <div>
                    <label for="status">Status</label>
                    <select id="status" name="status" required>
                        <option value="Saved">Saved</option>
                        <option value="Applied">Applied</option>
                        <option value="Interviewing">Interviewing</option>
                        <option value="Rejected">Rejected</option>
                        <option value="Offered">Offered</option>
                    </select>
                </div>
                <div>
                    <label for="link">Job Link</label>
                    <textarea id="link" name="link" rows="1"></textarea>
                </div>
                <div>
                    <label for="notes">Notes</label>
                    <textarea id="notes" name="notes" rows="2"></textarea>
                </div>
                <div>
                    <label for="referral">Referral</label>
                    <input type="text" id="referral" name="referral">
                </div>
            <div class="formbutton">
                <button class="confirm-button" type="submit">
                    <span class="text">Confirm</span>
                    <span class="icon">
                        <svg viewBox="0 0 24 24" height="24" width="24" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M9.707 19.121a.997.997 0 0 1-1.414 0l-5.646-5.647a1.5 1.5 0 0 1 0-2.121l.707-.707a1.5 1.5 0 0 1 2.121 0L9 14.171l9.525-9.525a1.5 1.5 0 0 1 2.121 0l.707.707a1.5 1.5 0 0 1 0 2.121z">
                            </path>
                        </svg>
                    </span>
                </button>
                <button type="button" onclick="closeDialog()">Cancel</button>
            </div>
            </form>
        </dialog>
    </wrapper>
</div>

<!-- Job Applications Table -->

<div class="tableBox">
    <h2>Applications:</h2>

    <button class="add-button" onclick="showAddJob()">
        <span class="text">Add</span>
        <span class="icon">
            <span class="buttonSpan">+</span>
        </span>
    </button>
</div>


<table>
    <thead>
        <tr>
            <th><i class="bi bi-building"></i>Company</th>
            <th><i class="bi bi-file-person"></i>Position</th>
            <th><i class="bi bi-card-checklist"></i>Stage</th>
            <th><i class="bi bi-calendar3"></i>Apply Date</th>

            <th>Notes</th>
            <th><i class="bi bi-person-plus"></i>Referral</th>
            <th>Action</th>

        </tr>
    </thead>
    <tbody id="jobTableBody">
        {% for job in jobs %}
        <tr>
            <td>
                {% if job.link %}
                    <a href="{{ job.link }}" target="_blank" class="company-link">{{ job.company_name }}</a>
                {% else %}
                    {{ job.company_name }}
                {% endif %}
            </td>
            <td>{{ job.job_title }}</td>
            <td><span class="status {{ job.status }}">{{ job.status }}</span></td>
            <td>{{ job.application_date.strftime('%B %d') }}</td>
            <td class="tdNotes">{{ job.notes }}</td>
            <td>{{ job.referral }}</td>
            <td>
                <button class="editBtn" onclick="openEditJobForm({{job.id}})">
                    Edit
                    <svg viewBox="0 0 512 512" class="svg">
                        <path
                            d="M410.3 231l11.3-11.3-33.9-33.9-62.1-62.1L291.7 89.8l-11.3 11.3-22.6 22.6L58.6 322.9c-10.4 10.4-18 23.3-22.2 37.4L1 480.7c-2.5 8.4-.2 17.5 6.1 23.7s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L387.7 253.7 410.3 231zM160 399.4l-9.1 22.7c-4 3.1-8.5 5.4-13.3 6.9L59.4 452l23-78.1c1.4-4.9 3.8-9.4 6.9-13.3l22.7-9.1v32c0 8.8 7.2 16 16 16h32zM362.7 18.7L348.3 33.2 325.7 55.8 314.3 67.1l33.9 33.9 62.1 62.1 33.9 33.9 11.3-11.3 22.6-22.6 14.5-14.5c25-25 25-65.5 0-90.5L453.3 18.7c-25-25-65.5-25-90.5 0zm-47.4 168l-144 144c-6.2 6.2-16.4 6.2-22.6 0s-6.2-16.4 0-22.6l144-144c6.2-6.2 16.4-6.2 22.6 0s6.2 16.4 0 22.6z">
                        </path>
                    </svg>
                </button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>




{% for job in jobs %}

{% endfor %}


{% endblock %}